<h1 class="text-center">Bienvenido al Hotel App</h1>

<p class="text-center">
  Esta es una aplicaci칩n de reservas de habitaciones.<br />
  Para hacer una reserva, necesit치s iniciar sesi칩n.
</p>

<div class="d-flex justify-content-center mt-4 gap-3">
  {{#unless user}}
    <a href="/login" class="btn btn-outline-success">Iniciar sesi칩n</a>
    <a href="/register" class="btn btn-outline-primary">Registrarse</a>
  {{/unless}}
</div>
