<h2 class="mb-4">Restablecer contrase침a</h2>

{{#if error}}
  <div class="alert alert-danger">{{error}}</div>
{{/if}}

{{#if success}}
  <div class="alert alert-success">
    {{success}} <br />
    <a href="/login" class="btn btn-primary mt-3">Ir a iniciar sesi칩n</a>
  </div>
{{else}}
  <form action="/api/sessions/reset-password/{{token}}" method="POST" class="mb-3">
    <div class="mb-3">
      <label for="password" class="form-label">Nueva contrase침a</label>
      <input type="password" name="password" id="password" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-success">Restablecer</button>
  </form>
  <a href="/login">Volver a iniciar sesi칩n</a>
{{/if}}
