<h1>Restablecer Contraseña</h1>
<form method="POST" action="/api/sessions/reset-password/{{token}}">
  <input name="password" type="password" placeholder="Nueva contraseña" required />
  <button type="submit">Actualizar</button>
</form>
