<h1>Habitaciones</h1>

{{#if (eq user.role 'admin1')}}
  <h3>Crear habitación</h3>
  <form method="POST" action="/api/rooms">
    <input name="name" placeholder="Nombre" required />
    <input name="description" placeholder="Descripción" />
    <input name="price" placeholder="Precio" type="number" required />
    <input name="capacity" placeholder="Capacidad" type="number" required />
    <button type="submit">Crear</button>
  </form>
{{/if}}

<ul>
  {{#each rooms}}
    <li>
      <strong>{{name}}</strong> - Capacidad: {{capacity}} - Precio: ${{price}}

      {{#if (eq ../user.role 'user')}}
        <!-- Formulario para reservar -->
        <form method="POST" action="/api/reservations" style="margin-top: 10px;">
          <input type="hidden" name="roomId" value="{{_id}}" />
          <label>Check-in:</label>
          <input type="date" name="checkInDate" required />
          <label>Check-out:</label>
          <input type="date" name="checkOutDate" required />
          <button type="submit">Reservar</button>
        </form>
      {{/if}}
    </li>
  {{/each}}
</ul>

<a href="/profile">Volver</a>
